head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(author='The Wandering TinganSob' content='Testing Space for Front End Web Dev')
  link(href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel='stylesheet')
  link(href='dist/lib/styles/normalize.css' rel='stylesheet')
  link(href='style.css' rel='stylesheet')
  script(defer src="my.js")
  script(defer src='https://kit.fontawesome.com/223f8d1f8d.js' crossorigin='anonymous')
  script(defer src="dist/lib/p5.js")
  script(defer src="dist/p5.sound.js")
  title Scratc Pad
