head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(author='The Wandering TinganSob' content='Testing Space for Front End Web Dev')
  link(href='dist/lib/styles/normalize.css' rel='stylesheet')
  link(href='style.css' rel='stylesheet')
  //- link(href='https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap' rel='stylesheet')
  //- link(href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet")
  //- script(defer src='https://kit.fontawesome.com/223f8d1f8d.js' crossorigin='anonymous')
  script(src="dist/lib/p5.js")
  script(src="dist/lib/p5.sound.js")
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js")
  link(href='style.css' rel='stylesheet')
  script(src="my.js")
  //- script(src="sketch.js")
  title Scratc Pad
