head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(author='The Wandering TinganSob' content='Testing Space for Front End Web Dev')
  link(href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel='stylesheet')
  link(href='../dist/assets/normalize.css' rel='stylesheet')
  link(href='../dist/style.css' rel='stylesheet')
  title Scratc Pad
