<!DOCTYPE html>
html(lang="en")
    include includes/head.pug

    body
        .container
            h1.greeting Hello World!
            include includes/robot.pug
            h3 Great things are soon to come!
