<!DOCTYPE html>
html(lang="en")
    include includes/head.pug

    body
        .container
            include includes/header.pug

            h2 Hey Russ
            p I want you to see what's possible. how fast it can be.

            h3 Me soon come...
        script(src="sketch.js")
