<!DOCTYPE html>
html(lang="en")
    include includes/head.pug

    body
        .container
            include includes/header.pug
            h1 h1 hello
            h2 h2 hello
            h3 h3 hello
            h4 h4 hello
            h5 h5 hello
            h6 h6 hello
            p This is just paragraph text. I wonder just how this will look on my phone screen. I have taken off all of the "styles" that I had on before. 
            p Perhaps this will be a better look. I have only but to try and see. I'll work on this and see what sort of "portfolio I can setup. online. 
        script(src="sketch2.js")
