*, ::before, ::after
    box-sizing: border-box
    margin: 0
    padding: 0

html
    height: 100vh
    width: 100vw

body
    height: 100%
    width: 100%
    font-family: "Ubuntu"
    background-color: tomato
    display: flex
    place-items: center
.wrapper
    height: 75%
    width: 75%
    margin: 0 auto
    // background-color: white
    display: flex
    place-items: center
.shadows
    background: antiquewhite
    color: goldenrod
    width: 25%
    padding: 5em
    position: relative
    box-shadow: inset 0 0 0 10px orange, inset 0 0 0 20px tomato, inset 0 0 0 30px grey, inset 0 0 5px 33px rgba(0, 0, 0, .3)
    // border: 2px solid black
    border-radius: 0 0 0 25%
