$col-base: #29a0f09f
$col-accent: #495f81
*, ::before, ::after
    box-sizing: border-box
    margin: 0
    padding: 0

html
    height: 100vh
    width: 100vw

body
    height: 100%
    width: 100%
    font-family: 'Bree Serif', serif
    background-color: $col-base

.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: $col-accent
    height: 100%

i
    font-size: 35vw
    padding: 1.5rem
h1
    font-size: 5rem
h3
    font-size: 3.5rem
